
.signup-color-lg{
    color: lightgrey;
}

.jumbotron {

    background-size: cover;
    background: url("../img/pizza.png") no-repeat center;
}



h1 {
    text-align: center;
    background-color: lightgrey;
    opacity: .7;
    font-weight: bold;
}

