* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {

    font-family: 'Montserrat', sans-serif;

}



main {

}


#header {
    padding-top: 30px;
    color: #fff;
    text-align: center;
    background: #333;
    padding-bottom: 12px;

}

h1,h2 {
    color:#e8f1f2;
    text-decoration: underline;
}

h3 {
    color: purple;
    font-size: 50px;
}
h6 {
    font-size: 14px;
    margin-bottom: 2rem;
    margin-top: 14px;
}
table {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 390px;
    color: green;
}
.bottom-content {


}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
    text-align: center;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list>li {
    padding: 1rem 0;
    border-bottom: #333 dotted 2px;
    font-size: 30px;

}



.purp {
    color: purple;
    font-size: 50px;
}

.prices {
    text-align: center;
}

#mid-section {
    color: black;
    /*background-color:#465362 ;*/
    background: url("../img/welcome.png") no-repeat center center/cover ;
    height: 100vh;

}

#bottom {
    background: #333;
    /*text-align: center;*/
}


.vision {

}
.vision .vision-content {
    grid-area: auto;
}

.content_1>ul>li {
    list-style: none;
}

.footer {

 }